*.DS_Store

/.bundle
/.ruby-gemset
/.rvmrc
/.rspec

/.env
/.foreman

/config/nginx.conf

/coverage/*

/log

/vendor/assets/bower_components
*.bowerrc
bower.json

/public/system
/public/assets

/spec/tmp
/tmp
