require ::File.expand_path('../config/environment', __FILE__)
<% if carrierwave? && heroku? -%>

use Rack::Static, urls: ['/carrierwave'], root: 'tmp'

<% end -%>

use Rack::CanonicalHost, ENV['CANONICAL_HOST'] if ENV['CANONICAL_HOST']

run Rails.application
